header{
    width: 100%;
    border-bottom: 1px solid #000;
    background: #F1F1F1;
    margin-bottom: 100px;
    .container{
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        h1{
            font: bold 30px/120% Arial;
        }
        nav{
            a{
                color: #000;
                font: bold 15px/36px Arial;
                padding: 0 20px;
                margin: 0 20px;
                text-decoration: none;
                &:hover{
                    color: #343434;
                    text-decoration: underline;
                }
            }
        }
    }
    @media screen and (max-width: 800px) {
        .container{
            display: block;
            h1{
                padding-left: 40px;
            }
        }
    }
}